flows (2).json
[
    {
        "id": "64d0aac1df375022",
        "type": "mqtt in",
        "z": "28c26ea98e6e134f",
        "name": "",
        "topic": "1toa/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "687068d453a522ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 380,
        "wires": [
            [
                "1e4bf7d7c0af91a0",
                "dac1cc32a07f8a21"
            ]
        ]
    },
    {
        "id": "69ecce882ed617c2",
        "type": "mqtt out",
        "z": "28c26ea98e6e134f",
        "name": "",
        "topic": "master/toa",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "687068d453a522ba",
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "dac1cc32a07f8a21",
        "type": "debug",
        "z": "28c26ea98e6e134f",
        "name": "mqtt_in",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 380,
        "wires": []
    },
    {
        "id": "ca8fb10d81845597",
        "type": "mqtt in",
        "z": "28c26ea98e6e134f",
        "name": "",
        "topic": "2toa/humi",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "687068d453a522ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 520,
        "wires": [
            [
                "4b995740eb4578fc"
            ]
        ]
    },
    {
        "id": "cf44eae1a775bae6",
        "type": "debug",
        "z": "28c26ea98e6e134f",
        "name": "mqtt_in",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 520,
        "wires": []
    },
    {
        "id": "07cd05dd31a677bd",
        "type": "mqtt in",
        "z": "28c26ea98e6e134f",
        "name": "",
        "topic": "sw01/name",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "687068d453a522ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 640,
        "wires": [
            [
                "a4ad1d11e4355868"
            ]
        ]
    },
    {
        "id": "a4ad1d11e4355868",
        "type": "debug",
        "z": "28c26ea98e6e134f",
        "name": "mqtt_in",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 640,
        "wires": []
    },
    {
        "id": "1e4bf7d7c0af91a0",
        "type": "change",
        "z": "28c26ea98e6e134f",
        "name": "temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 420,
        "wires": [
            [
                "3e8170e04ea7c017"
            ]
        ]
    },
    {
        "id": "4b995740eb4578fc",
        "type": "change",
        "z": "28c26ea98e6e134f",
        "name": "humi",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 540,
        "wires": [
            [
                "cf44eae1a775bae6",
                "186e07fd4432d1c7"
            ]
        ]
    },
    {
        "id": "3e8170e04ea7c017",
        "type": "ui_gauge",
        "z": "28c26ea98e6e134f",
        "name": "",
        "group": "d94aa88dbecb28dd",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "อุณหภูมิ",
        "label": "units",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 420,
        "wires": []
    },
    {
        "id": "6280eaf31b2d0423",
        "type": "debug",
        "z": "28c26ea98e6e134f",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 160,
        "wires": []
    },
    {
        "id": "d7e735ac585b99d1",
        "type": "mqtt out",
        "z": "28c26ea98e6e134f",
        "name": "",
        "topic": "master/toa",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "687068d453a522ba",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "e866048a7409d466",
        "type": "ui_led",
        "z": "28c26ea98e6e134f",
        "order": 2,
        "group": "d94aa88dbecb28dd",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "LED-SYSTEM",
        "x": 600,
        "y": 220,
        "wires": []
    },
    {
        "id": "5cac0f6c1866d7ab",
        "type": "ui_button",
        "z": "28c26ea98e6e134f",
        "name": "",
        "group": "d94aa88dbecb28dd",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "master/toa",
        "topicType": "msg",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "e866048a7409d466",
                "69ecce882ed617c2"
            ]
        ]
    },
    {
        "id": "80ab727880a1ce39",
        "type": "ui_button",
        "z": "28c26ea98e6e134f",
        "name": "",
        "group": "d94aa88dbecb28dd",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "master/toa",
        "topicType": "msg",
        "x": 390,
        "y": 280,
        "wires": [
            [
                "e866048a7409d466",
                "d7e735ac585b99d1"
            ]
        ]
    },
    {
        "id": "186e07fd4432d1c7",
        "type": "ui_gauge",
        "z": "28c26ea98e6e134f",
        "name": "",
        "group": "d94aa88dbecb28dd",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ความชิ้น",
        "label": "units",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 580,
        "wires": []
    },
    {
        "id": "5cef0bc112e4700c",
        "type": "ui_led",
        "z": "28c26ea98e6e134f",
        "order": 4,
        "group": "d94aa88dbecb28dd",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "TEMP-LED",
        "x": 830,
        "y": 720,
        "wires": []
    },
    {
        "id": "c08f79c6d0f9f7c9",
        "type": "mqtt in",
        "z": "28c26ea98e6e134f",
        "name": "",
        "topic": "toa/led",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "687068d453a522ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 490,
        "y": 720,
        "wires": [
            [
                "647e358808b6bf3e",
                "d38d2bf5a651a44c"
            ]
        ]
    },
    {
        "id": "a605558bcebdbfa1",
        "type": "mqtt in",
        "z": "28c26ea98e6e134f",
        "name": "",
        "topic": "toa/control",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "687068d453a522ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 220,
        "wires": [
            [
                "e4e160040fca8dd1"
            ]
        ]
    },
    {
        "id": "647e358808b6bf3e",
        "type": "debug",
        "z": "28c26ea98e6e134f",
        "name": "mqtt_in",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 800,
        "wires": []
    },
    {
        "id": "d38d2bf5a651a44c",
        "type": "function",
        "z": "28c26ea98e6e134f",
        "name": "function 1",
        "func": "msg.payload = msg.payload.toString();\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 760,
        "wires": [
            [
                "5cef0bc112e4700c"
            ]
        ]
    },
    {
        "id": "e4e160040fca8dd1",
        "type": "function",
        "z": "28c26ea98e6e134f",
        "name": "function 2",
        "func": "msg.payload = msg.payload.toString();\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 220,
        "wires": [
            [
                "e866048a7409d466"
            ]
        ]
    },
    {
        "id": "f0645006683d857b",
        "type": "ui_text",
        "z": "28c26ea98e6e134f",
        "group": "d94aa88dbecb28dd",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ควบคุม LED ด้วยอุณหภูมิ ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 220,
        "wires": []
    },
    {
        "id": "783549fcd33ad394",
        "type": "ui_text",
        "z": "28c26ea98e6e134f",
        "group": "d94aa88dbecb28dd",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "สถานะระบบ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 280,
        "wires": []
    },
    {
        "id": "687068d453a522ba",
        "type": "mqtt-broker",
        "name": "mqtt_control",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d94aa88dbecb28dd",
        "type": "ui_group",
        "name": "แผงควบคุมโรงเรือนที่1",
        "tab": "42e6b03e23cc63cc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "42e6b03e23cc63cc",
        "type": "ui_tab",
        "name": "หน้าหลัก",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]